# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/.tmp
/app/dist
node_modules
.idea
# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
*.lock
